<ion-view ng-controller="animeDetailController" view-title="{{libraryEntry.anime.title}}">
  <ion-content>

    <div class="row">
      <img
        class="col col-50"
        ng-src="{{libraryEntry.anime.cover_image}}"/>

      <div class="col col-50">
        <p>
          Seen {{libraryEntry.episodes_watched}} of {{libraryEntry.anime.episode_count || &quot;?&quot;}}
        </p>
        <button class="button button-block button-positive" ng-click="incrementWatchCount()">
          <i class="icon ion-plus-round"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
