<ion-view view-title="My Anime">
  <ion-content ng-controller="animeListController">
    <ion-list>
      <ion-item class="item-input item-select">
        <div class="input-label">
          Status
        </div>
        <select
          ng-change="onSelectedLibraryStateChanged()"
          ng-model="selected.libraryState"
          ng-options="option.name for option in libraryStateOptions track by option.id">
        </select>
      </ion-item>
      <ion-item
        class="item-avatar"
        ng-click="onLibraryEntryClicked($index)"
        ng-repeat="libraryEntry in libraryEntries">
        <img ng-src="{{libraryEntry.anime.cover_image}}">
        <h2>{{libraryEntry.anime.title}}</h2>
        <p>Seen {{libraryEntry.episodes_watched}} of {{libraryEntry.anime.episode_count || &quot;?&quot;}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
